# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Linux
*~
.directory
.Trash-*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

# Editors
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
